* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d1a7f;
    position: fixed;
    top: 0;
    z-index: 100;
}

header .title {
    color: white;
    margin-left: 25px;
    font-size: 1.7em;
    font-weight: 600;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 10px;
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 11.6px;
}

header ul li a:hover {
    background-color: #8532D9;
}


header ul li a:visited {
    text-decoration: none;
    color: white;
}

.bt-conteiner {
    position: fixed;
    z-index: 90;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 10px;
    background-color: white;
}

.buttons {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 0;
}

.buttons button {
    width: 82px;
    font-size: small;
    margin-right: 4px;
}

.btn {
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #d8d7d7;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(184, 184, 184);
}

.conteinerprincipal {
    display: flex;
    width: 100%;
    /* border: 10px solid green; */
}

.wrap-cal-num {
    width: 100%;
    flex: 3;
    padding-top: 131px;
    background-color: whitesmoke;
    /* border: 1px solid red; */
}

.container {
    width: 100%;
    background-color: whitesmoke;
    color: #4d1a7f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    position: fixed;
    top: 131px;
    border: 1px solid lightgray;
    width: 20rem;
    height: 21rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0);
}

.btn-hoje {
    cursor: pointer;
    width: 6rem;
    position: absolute;
    bottom: 10px;
}

.month {
    width: 100%;
    height: 4rem;
    background-color: #4d1a7f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

.month i {
    font-size: 1.4rem;
    cursor: pointer;
}

.month p {
    font-size: .7rem;
}

.month h1 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.weekdays {
    width: 100%;
    height: 2rem;
    display: flex;
    padding: .4rem .2rem;
    align-items: center;
}

.weekdays div {
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    width: calc(20.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .1rem;
}

.days div {
    font-size: 0.9rem;
    margin: 0.16rem;
    width: calc(17.38rem / 7);
    height: 1.7rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    /* background-color: #4d1a7f; */
    border: .2rem solid #8532D9;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: .5;
}

.today {
    background-color: #4d1a7f;
    color: white;
}



.objects {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 98px;
    /* border: 1px solid yellow; */
}

.mes {
    width: 97%;
    margin-top: 20px;
    margin-right: 10px;
    scroll-margin-top: 100px;
}

#jan {
    margin-top: 0;
}

.mes h3 {
    text-align: left;
}
h3 {
    /* background-color: whitesmoke; */
    padding: 4px 0 1px 10px;
    color: rgb(99, 99, 99);
    border-bottom: 3px solid gray;
}

.linha {
    width: 100%;    
    background-color: whitesmoke;
    color: rgb(70, 70, 70);
    font-weight: 600;
    font-size: small;
    text-align: left;
    margin: 4px auto;
    padding: 6px 0;
    border-left: 4.5px solid dodgerblue;
    cursor: pointer;
    display: none;
    /* border: 1px solid aquamarine; */
}

.linha:hover {
    background-color: rgb(224, 224, 224);
}

.wrapper {
    display: flex;
    width: 100%;
}

.dia {
    flex: 1.5;
    text-align: center;
    /* border: 1px solid blue; */
    font-size: 1.1em;
}

.evento {
    flex: 6.7;
    padding-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resp {
    flex: 1.8;
    text-align: center;
    font-size: .8em;
    /* border: 1px solid blue; */
}

.show {
    display: flex;
}

.detalhes {
    display: none;
    font-size: x-small;
    color: rgb(100, 100, 100);
    padding-top: 7px;
}

.asp, .usb {
    border-left: 4.5px solid lightgreen;
}

.outros {
    border-left: 4.5px solid gray;
}

.feriados {
    border-left: 4.5px solid gray;
}

.p5 {
    color: orangered;
}

.f2m {
    color: #4d1a7f;
}