* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    max-width: 1280px;
}

header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #09181F;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    color: #fff;
}
header img {
    width: 100px;
}
header .title {
    font-size: 1.7em;
    font-weight: 600;
}
header ul {
    display: flex;
}
header ul li {
    margin: 0 10px;
    list-style-type: none;
}
header ul li a {
    text-decoration: none;
    display: block;
    padding: 11px;
    color: #fff;
    font-size: .7em;
}
header ul li a:hover {
    background-color: #FFF;
    color: #214b80;
}
header ul li a:visited {
    text-decoration: none;
}
.bt-conteiner {
    display: flex;
    position: fixed;
    z-index: 90;
    top: 40px;
    width: 100%;
    justify-content: space-between;
    margin-top: 4px;
    padding-left: 10px;
    background-color: white;
    border-bottom: 2px solid #F5f5f5;
}
.buttons {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.buttons button {
    width: 70px;
    font-size: x-small;
    margin-right: 3px;
}
.btn {
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #d8d7d7;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(184, 184, 184);
}

.conteinerprincipal {
    display: flex;
    width: 100%;
    /* border: 2px solid orange; */
}

/* Conteiner do calendário numérico */
.wrap-cal-num {
    width: 35%;
    /* flex: 3; */
    padding-top: 50px;
    display: block;
    /* justify-content: center; */
    /* border: 2px solid red; */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */

}
.conteinerFiltros {
    position: fixed;
    top: 60px;
}
.filtroPessoas select, .filtroLocais select {
    width: 70%;
    margin-bottom: 15px;
}
.filtroPessoas button, .filtroLocais button {
    width: 28%;
}
.calendar {
    position: fixed;
    top: 138px;
    left: 25px;
    width: 20rem;
    height: 20rem;
    background-color: white;
    box-shadow: 0px 0px 4px #909090;
    /* border: 2px solid blue; */
}
.month {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    color: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}
.month h3 {
    font-weight: 500;
}
.month i {
    font-size: 1.4rem;
    cursor: pointer;
}
.weekdays {
    width: 100%;
    height: 2rem;
    display: flex;
    padding: .4rem .2rem;
    align-items: center;
}
.weekdays div {
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    width: calc(20.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .1rem;
}
.days div {
    font-size: 0.75rem;
    /* color: #181818; */
    margin: 0.16rem;
    width: calc(17.38rem / 7);
    height: 1.7rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
.days div:hover:not(.today) {
    border: .2rem solid gray;
    cursor: pointer;
}
.prev-date,
.next-date {
    opacity: .3;
}
.today {
    background-color: #122B4A;
    color: white;
}
.conteiner-hoje {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 9px;
    width: 100%;
}
.btn-hoje {
    cursor: pointer;
    width: 6rem;
}
.objects {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 98px;
    /* border: 2px solid blue; */
}
.mes {
    width: 100%;
    margin-right: 10px;
    scroll-margin-top: 76px;
    margin-bottom: 20px;
}
.mes h3 {
    text-align: left;
    color: #122B4A;
    padding-top: 20px;
    margin-bottom: 10px;
    position: sticky;
    top: 86px;
    background-color: #fff;
    border-left: 4px solid white;
}
.linha {
    width: 100%;    
    background-color: #F8F8F8;
    color: #404040;
    font-weight: 700;
    font-size: small;
    text-align: left;
    margin: 4px auto;
    padding: 7px 0;
    border-left: 4px solid #122B4A;
    cursor: pointer;
    display: none;
}
.linha:hover {
    /* background-color: rgb(224, 224, 224); */
    box-shadow: .4px .4px 1.5px #404040;
    background-color: #f0f0f0;
}
.wrapper {
    display: flex;
    width: 100%;
}
.dia {
    flex: 1.5;
    text-align: center;
    font-size: 1.1em;
}
.evento {
    flex: 6.7;
    padding-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resp {
    flex: 1.8;
    text-align: center;
    font-size: .8em;
}
.show {
    display: flex;
}
.detalhes {
    display: none;
    font-size: x-small;
    color: rgb(100, 100, 100);
    padding-top: 7px;
}
.caab {
    border-left: 4px solid #122B4A;
    color: #122B4A;
    font-weight: 700;
}
.asp, .usb {
    border-left: 4px solid #e28955;
    color: #e28955;
}
.outros, .feriados {
    border-left: 4px solid #696969;
    color: #696969;
}

@media screen and (max-width: 700px) {
    
    .wrap-cal-num {
        display: none;
    }
    .objects {
        margin: auto;
        width: 96%;
    }
    header img, .title {
        display: none;
    }
    #ul-meses {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    header {
        height: fit-content;
    }
    .bt-conteiner {
        display: none;
    }
    .mes h3 {
        top: 76px;
    }
    .linha {
        font-size: .7rem;
        font-weight: 500;
        border-left: 2.5px solid #122B4A;
    }
    .resp {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .wrap-cal-num {
        display: none;
        margin: auto;
    }
    .objects {
        margin: auto;
        width: 96%;
    }
}

/* Add a dark background to the active button */
.btn .active {
    background-color: #09181F;
    color: white;
  }